@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: Inter-Regular;
  src: url(../../public/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../../public/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../../public/Inter-Medium.ttf);
}

/* Project backgrounds */
.bg-healthcare-private-practice-v1 {
  background-image: url(../../public/Healthcare\ Private\ Practice\ V1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-healthcare-private-practice-v2 {
  background-image: url(../../public/Healthcare\ Private\ Practice\ V2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-healthcare-ongoing-dashboard {
  background-image: url(../../public/Healthcare\ Ongoing\ Dashboard.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-automated-medical {
  background-image: url(../../public/Example\ Report\ Export.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-private-equity {
  background-image: url(../../public/Private\ Equity\ Financial\ Reporting\ Automation.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-current-client-demo {
  background-image: url(../../public/Demo\ Dashboard.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-client-proposal {
  background-image: url(../../public/Client\ Proposal\ Dashboard.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-group-case-study {
  background-image: url(../../public/Case\ Study\ Demo\ -\ Combined.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-healthcare-proposal {
  background-image: url(../../public/Healthcare\ Proposal\ Dashboard.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-internal-work {
  background-image: url(../../public/Internal\ Use\ Work\ Tracker.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-external-webinar {
  background-image: url(../../public/Webinar\ Part\ 1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-space-missions {
  background-image: url(../../public/Space\ Missions\ Analysis.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Link Underline Animation */
.link-shadow-pbi::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(44, 87%, 48%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.30s ease;
	width: 100%;
}

.link-shadow-pbi:hover::before {
  transform: scaleX(1);
}

.link-shadow-python::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(197, 100%, 74%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.30s ease;
	width: 100%;
}

.link-shadow-python:hover::before {
  transform: scaleX(1);
}
